* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: #1c1c18;
  overflow-y: scroll;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 100px;
  .header {
    position: fixed;
    z-index: 999;
    width: 100%;
    margin-left: -25px;
    margin-top: -20px;
    height: 90px;
    .header-container {
      background-color: #ffffff;
      margin-top: 13px;
      margin-left: 25px;
      width: 100%;
      padding: 15px 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
      .logo {
        font-size: 40px;
        font-weight: 700;
        color: #000000;
      }
      .header-2 {
        display: flex;
        gap: 100px;

        .icons {
          display: flex;
          gap: 12px;
          min-width: fit-content;
          .header-a {
            text-decoration: none;
          }
          .icon {
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
          }
        }
        .nav-text {
          display: flex;
          align-items: center;
          gap: 30px;
          color: #666666;
          font-size: 14px;
          font-weight: 400;
          p,
          a {
            font-size: 17px;
          }
          .read-more {
            color: #444444;
            text-decoration: underline;
            cursor: pointer;
            &:hover {
              color: #0052a3;
            }
          }
          .edit-btn {
            width: 150px;
            background-color: #000000;
            color: #ffffff;
            border: none;
            padding: 12px 24px;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            min-width: fit-content;
            transition: background-color 0.2s ease;

            &:hover {
              background-color: #5d1c9e;
            }

            &:active {
              background-color: #000000;
            }
          }
        }
      }
    }
    .black {
      padding: 15px 30px 0px 80px;
      align-items: center;
      margin-right: -25px;
      background-color: #1c1c18;
      display: flex;
      justify-content: space-between;
      a {
        text-decoration: none;
        h4 {
          display: flex;
          align-items: center;
          gap: 25px;
          font-size: 25px;
          color: rgb(171, 138, 91);
          text-decoration: none;
          font-weight: 400;
          span {
            font-size: 40px;
          }
        }
      }
      div {
        display: flex;
        gap: 100px;
        .a {
          display: flex;
          gap: 50px;
          a {
            color: rgb(171, 138, 91);
            text-decoration: none;
            font-weight: 400;
          }
        }
      }
      .cart {
        display: flex;
        align-items: center;
        gap: 10px;
        svg {
          width: 30px;
        }
        p {
          color: rgb(171, 138, 91);
        }
      }
    }
  }
  .mainandsection {
    display: flex;
    gap: 50px;
    section {
      margin-top: 100px;
      margin-left: 170px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h4 {
        margin-left: -100px;
        width: 300px;
        color: rgb(171, 138, 91);
        font-weight: 200;
        font-size: 20px;
      }
      h1 {
        margin-top: 100px;
        text-align: center;
        width: 600px;
        font-size: 100px;
        color: rgb(171, 138, 91);
        font-weight: 300;
        font-family: "Lora", serif;
        line-height: 90px;
      }
      button {
        font-size: 16px;
        border: 1px solid rgb(170, 139, 94);
        background-color: #1c1c18;
        color: rgb(171, 138, 91);
        padding: 15px 45px;
      }
      .section {
        font-family: "lora";
        margin-left: -90px;
        color: #c4a27c;
        margin-top: 150px;
        .browse-1 {
          display: flex;
          flex-direction: column;
          gap: 10px;
          border-bottom: 1px solid #c4a27c;
          margin-bottom: 10px;
          .site {
            display: flex;
            gap: 10px;
            a {
              text-decoration: none;
              color: #c4a27c;
              &:hover {
                color: #8c7358;
              }
            }
          }
        }
        .Filters {
          h3 {
            border-bottom: 1px solid #c4a27c;
          }
        }
      }
    }
    main {
        .bigimg {
            margin-top: 300px;
            img {
                width: 1150px;
            }
        }
        .bigimgh1, .bigimgp {
            color: #c4a27c;
            font-family: 'lora';
            width: 615px;
        }
    }
  }
  footer {
    margin-left: 50px;
    font-family: "Lora";
    display: flex;
    flex-direction: column;
    gap: 100px;
    .footer-1 {
      display: flex;
      align-items: start;
      gap: 100px;
      .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        a {
          color: #c4a27c;
          text-decoration: none;
          display: flex;
          gap: 40px;
          h4,
          span {
            font-size: 35px;
            font-weight: 200;
            font-family: "Lora";
          }
        }
        .icons {
          svg {
            width: 30px;
          }
        }
      }
      .text {
        color: #c4a27c;
        display: flex;
        font-weight: 100;
        line-height: 22px;
        gap: 200px;
        .text-1 {
          display: flex;
          flex-direction: column;
          gap: 30px;
        }
      }
    }
    .footer-p {
      color: #c4a27c;
      margin-bottom: 20px;
    }
  }
}
