* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #1c1c18;
  overflow-y: scroll;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 100px;
  .header {
    position: fixed;
    z-index: 999;
    width: 100%;
    margin-left: -25px;
    margin-top: -20px;
    height: 90px;
    .header-container {
      background-color: #ffffff;
      margin-top: 13px;
      margin-left: 25px;
      width: 100%;
      padding: 15px 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
      .logo {
        font-size: 40px;
        font-weight: 700;
        color: #000000;
      }
      .header-2 {
        display: flex;
        gap: 100px;

        .icons {
          display: flex;
          gap: 12px;
          min-width: fit-content;
          .header-a {
            text-decoration: none;
          }
          .icon {
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
          }
        }
        .nav-text {
          display: flex;
          align-items: center;
          gap: 30px;
          color: #666666;
          font-size: 14px;
          font-weight: 400;
          p,
          a {
            font-size: 17px;
          }
          .read-more {
            color: #444444;
            text-decoration: underline;
            cursor: pointer;
            &:hover {
              color: #0052a3;
            }
          }
          .edit-btn {
            width: 150px;
            background-color: #000000;
            color: #ffffff;
            border: none;
            padding: 12px 24px;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            min-width: fit-content;
            transition: background-color 0.2s ease;

            &:hover {
              background-color: #5d1c9e;
            }

            &:active {
              background-color: #000000;
            }
          }
        }
      }
    }
    .black {
      padding: 15px 30px 0px 80px;
      align-items: center;
      margin-right: -25px;
      background-color: #1c1c18;
      display: flex;
      justify-content: space-between;
      a {
        text-decoration: none;
        h4 {
          display: flex;
          align-items: center;
          gap: 25px;
          font-size: 25px;
          color: rgb(171, 138, 91);
          text-decoration: none;
          font-weight: 400;
          span {
            font-size: 40px;
          }
        }
      }
      div {
        display: flex;
        gap: 100px;
        .a {
          display: flex;
          gap: 50px;
          a {
            color: rgb(171, 138, 91);
            text-decoration: none;
            font-weight: 400;
          }
        }
      }
      .cart {
        display: flex;
        align-items: center;
        gap: 10px;
        svg {
          width: 30px;
        }
        p {
          color: rgb(171, 138, 91);
        }
      }
    }
  }
  section {
    margin-top: 100px;
    padding: 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4 {
      margin-left: -100px;
      width: 300px;
      color: rgb(171, 138, 91);
      font-weight: 200;
      font-size: 20px;
    }
    h1 {
      margin-top: 100px;
      text-align: center;
      width: 600px;
      font-size: 100px;
      color: rgb(171, 138, 91);
      font-weight: 300;
      font-family: "Lora", serif;
      line-height: 90px;
    }
    button {
      font-size: 16px;
      border: 1px solid rgb(170, 139, 94);
      background-color: #1c1c18;
      color: rgb(171, 138, 91);
      padding: 15px 45px;
    }
  }
  main {
    display: flex;
    flex-direction: column;
    .row-1 {
      display: flex;
      width: 100%;
      img {
        width: 50%;
      }
    }
    .row-2 {
      display: flex;
      width: 100%;
      justify-content: space-between;
      .welcome {
        display: flex;
        margin-left: 150px;
        flex-direction: column;
        justify-content: space-between;
        align-self: center;
        align-items: center;
        background-color: #c4a27c;
        width: 30%;
        height: 600px;
        color: #000000;
        font-family: "Lora", serif;
        padding: 60px;
        .title {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          h2 {
            font-size: 50px;
            font-weight: 300;
            text-align: center;
            line-height: 50px;
          }
        }
        .text {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 30px;
          width: 270px;
          p {
            text-align: center;
            word-spacing: 0.3em;
            font-size: 16px;
          }
          button {
            width: 150px;
            height: 40px;
            border: none;
            background-color: black;
            color: #c4a27c;
          }
        }
      }
      img {
        width: 50%;
      }
    }
    .row-3 {
      display: flex;
      width: 100%;
      font-family: "Lora";
      img {
        width: 50%;
      }
      h1 {
        font-weight: 500;
      }
      .text {
        color: rgb(171, 138, 91);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px 50px 200px 50px;
        .text-1 {
          display: flex;
          flex-direction: column;
          gap: 100px;
          h1 {
            font-size: 50px;
          }
          .text-1-1 {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 430px;
            p {
              line-height: 25px;
            }
          }
        }
        .text-2 {
          display: flex;
          flex-direction: column;
          gap: 60px;
          width: 430px;
          .text-2-1,
          .text-2-2 {
            display: flex;
            flex-direction: column;
            gap: 20px;
            p {
              line-height: 25px;
            }
          }
        }
      }
    }
    .row-4 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .FAQ {
        margin: 50px;
        color: #c4a27c;
        font-family: "Lora";
        display: flex;
        flex-direction: column;
        gap: 20px;
        h1 {
          font-weight: 300;
          font-size: 50px;
        }
      }
      .answers {
        background-color: #4b4134;
        width: 50%;
        height: 1150px;
        padding: 300px 300px 0px 60px;
        ul {
          display: flex;
          flex-direction: column;
          gap: 50px;
          li {
            color: rgb(171, 138, 91);
            list-style: decimal;
            font-weight: 100;
            line-height: 22px;
          }
        }
      }
    }
    .row-5 {
      font-family: "Lora";
      width: 100%;
      display: flex;
      gap: 50px;
      .yellow {
        display: flex;
        flex-direction: column;
        gap: 100px;
        width: 50%;
        height: 900px;
        padding: 100px 50px;
        background-color: rgb(200, 169, 125);
        h1 {
          font-size: 50px;
          font-weight: 200;
          color: rgb(35, 35, 35);
        }
        img {
          width: 50%;
        }
      }
      .contact {
        margin-bottom: 200px;
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 20px;
        color: rgb(200, 169, 125);
        .names {
          display: flex;
          gap: 20px;
          div {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
        }
        input {
          background-color: #1c1c18;
          border: none;
          border: 0.5px solid #c4a27c;
          height: 40px;
          width: 250px;
        }
        .email,
        .message {
          display: flex;
          flex-direction: column;
          input {
            width: 520px;
          }
          gap: 10px;
        }
        .message {
          input {
            height: 100px;
          }
        }
        .submit {
          color: #000000;
          background-color: #c4a27c;
          width: 520px;
          font-size: 16px;
          &:hover {
            animation: submit 0.2s 1 0s;
            @keyframes submit {
              from {
                color: #000000;
                background-color: #c4a27c;
              }
              to {
                background-color: #1c1c18;
                color: #c4a27c;
              }
            }
            background-color: #1c1c18;
            color: #c4a27c;
          }
        }
      }
    }
  }
  footer {
    margin-left: 50px;
    font-family: "Lora";
    display: flex;
    flex-direction: column;
    gap: 100px;
    .footer-1 {
      display: flex;
      align-items: start;
      gap: 100px;
      .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        a {
          color: #c4a27c;
          text-decoration: none;
          display: flex;
          gap: 40px;
          h4,
          span {
            font-size: 35px;
            font-weight: 200;
            font-family: "Lora";
          }
        }
        .icons {
          svg {
            width: 30px;
          }
        }
      }
      .text {
        color: #c4a27c;
        display: flex;
        font-weight: 100;
        line-height: 22px;
        gap: 200px;
        .text-1 {
          display: flex;
          flex-direction: column;
          gap: 30px;
        }
      }
    }
    .footer-p {
      color: #c4a27c;
      margin-bottom: 20px;
    }
  }
}
@media screen and (max-width: 1100px) {
  body {
    width: 1440px;
    main {
      .row-1 {
        display: block;
        img {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  body {
    header {
      height: 150px;
      .header-container {
        height: 150px;
        .logo {
          p {
            font-size: 80px;
          }
        }
        .nav-text {
          width: 100%;
          p,
          .read-more {
            font-size: 30px;
          }
          .edit-btn {
            padding: 10px 20px;
            font-size: 13px;
          }
        }
      }
    }
  }
}
